# 웹 프레임워크 및 확장
Django==5.0.7
asgiref==3.8.1
sqlparse==0.5.0

# 비동기 서버 게이트웨이 인터페이스
daphne==4.1.2

# 웹소켓 지원을 위한 Channels
channels==4.1.0
channels-redis==4.2.0

# 데이터베이스
psycopg2-binary==2.9.9

# 데이터 처리 및 분석
numpy==2.0.0
pandas==2.2.2
scipy==1.14.0
scikit-learn==1.5.1

# 데이터 시각화
matplotlib==3.9.1
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
pyparsing==3.1.2
svgwrite==1.4.3

# 날짜 및 시간
python-dateutil==2.9.0.post0
pytz==2024.1
tzdata==2024.1

# 네트워킹 및 프로토콜
autobahn==23.6.2
hyperlink==21.0.0
idna==3.7
Twisted==24.3.0
txaio==23.1.1

# 보안 및 암호화
cryptography==42.0.8
pyOpenSSL==24.1.0
service-identity==24.1.0

# 직렬화 및 데이터 형식
msgpack==1.0.8

# 유틸리티
attrs==23.2.0
Automat==22.10.0
cffi==1.16.0
click==8.1.7
constantly==23.10.4
incremental==22.10.0
joblib==1.4.2
packaging==24.1
Pillow==10.4.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
setuptools==70.3.0
six==1.16.0
threadpoolctl==3.5.0
Tree==0.2.4
typing_extensions==4.12.2
zope.interface==6.4.post2

# 캐싱 및 메시지 브로커
redis==5.0.7
