asgiref==3.8.1
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
cffi==1.16.0
channels==4.1.0
channels-redis==4.2.0
click==8.1.7
constantly==23.10.4
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
daphne==4.1.2
Django==5.0.7
fonttools==4.53.1
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.1
msgpack==1.0.8
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyOpenSSL==24.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.7
scikit-learn==1.5.1
scipy==1.14.0
service-identity==24.1.0
setuptools==70.3.0
six==1.16.0
sqlparse==0.5.0
svgwrite==1.4.3
threadpoolctl==3.5.0
Tree==0.2.4
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
zope.interface==6.4.post2
